@charset "UTF-8";
@font-face {
  font-family: 'u57';
  src: url("../type/_u57/UniversLTStd-Cn.eot");
  src: local("☺"), url("../type/_u57/UniversLTStd-Cn.woff") format("woff"), url("../type/_u57/UniversLTStd-Cn.ttf") format("truetype"), url("../type/_u57/UniversLTStd-Cn.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'stix';
  src: url("../type/_stix/STIXGeneralItalic.eot");
  src: local("☺"), url("../type/_stix/STIXGeneralItalic.woff") format("woff"), url("../type/_stix/STIXGeneralItalic.ttf") format("truetype"), url("../type/_stix/STIXGeneralItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: u57;
  font-size: 20px;
  line-height: 24px; }

a img {
  border: none; }

a {
  border: none;
  text-decoration: none; }

p {
  margin: 0px 0px 10px; }

h1, h2, h3, h4, h5, h6 {
  margin: 1em; }

h1, .h1 {
  font-size: 2.60rem; }

h2, .h2 {
  font-size: 2.15rem; }

h3, .h3 {
  font-size: 1.70rem; }

h4, .h4 {
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 1rem; }

h6, .h6 {
  font-size: 0.85rem; }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px;
  background-image: url(../img/texturetastic_gray.png); }

#master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow-x: hidden; }
  #master.ready #top .cat_nav, #master.ready #carousel, #master.ready #interest {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    opacity: 1; }
  #master.lookingat_interest #carousel {
    left: 0px; }
  #master.lookingat_front #carousel {
    left: -100%; }
  #master.lookingat_grid #carousel {
    left: -200%; }
  #master.lookingat_grid #top .cat_nav {
    left: 0px; }
  #master.lookingat_grid.category-my_proj ::selection {
    color: white;
    background-color: #0d7e8d; }
  #master.lookingat_grid.category-my_proj ::-moz-selection {
    color: white;
    background-color: #0d7e8d; }
  #master.lookingat_grid.category-my_proj #top .cat_nav div:nth-child(1) p {
    display: block !important; }
  #master.lookingat_grid.category-posters ::selection {
    color: white;
    background-color: #730b40; }
  #master.lookingat_grid.category-posters ::-moz-selection {
    color: white;
    background-color: #730b40; }
  #master.lookingat_grid.category-posters #top .cat_nav div:nth-child(2) p {
    display: block !important; }
  #master.lookingat_grid.category-logos ::selection {
    color: white;
    background-color: #c02574; }
  #master.lookingat_grid.category-logos ::-moz-selection {
    color: white;
    background-color: #c02574; }
  #master.lookingat_grid.category-logos #top .cat_nav div:nth-child(3) p {
    display: block !important; }
  #master.lookingat_grid.category-publication ::selection {
    color: white;
    background-color: #106873; }
  #master.lookingat_grid.category-publication ::-moz-selection {
    color: white;
    background-color: #106873; }
  #master.lookingat_grid.category-publication #top .cat_nav div:nth-child(4) p {
    display: block !important; }
  #master.lookingat_grid.category-signage ::selection {
    color: white;
    background-color: #cbba3b; }
  #master.lookingat_grid.category-signage ::-moz-selection {
    color: white;
    background-color: #cbba3b; }
  #master.lookingat_grid.category-signage #top .cat_nav div:nth-child(5) p {
    display: block !important; }
  #master.lookingat_grid.category-websites ::selection {
    color: black;
    background-color: #eccb24; }
  #master.lookingat_grid.category-websites ::-moz-selection {
    color: black;
    background-color: #eccb24; }
  #master.lookingat_grid.category-websites #top .cat_nav div:nth-child(6) p {
    display: block !important; }
  #master.lookingat_project #carousel {
    left: -300%; }
  #master.lookingat_project #top .cat_nav {
    left: 0px; }
  #master.lookingat_project.category-my_proj ::selection {
    color: white;
    background-color: #0d7e8d; }
  #master.lookingat_project.category-my_proj ::-moz-selection {
    color: white;
    background-color: #0d7e8d; }
  #master.lookingat_project.category-my_proj #top .cat_nav div:nth-child(1) p {
    display: block !important; }
  #master.lookingat_project.category-posters ::selection {
    color: white;
    background-color: #730b40; }
  #master.lookingat_project.category-posters ::-moz-selection {
    color: white;
    background-color: #730b40; }
  #master.lookingat_project.category-posters #top .cat_nav div:nth-child(2) p {
    display: block !important; }
  #master.lookingat_project.category-logos ::selection {
    color: white;
    background-color: #c02574; }
  #master.lookingat_project.category-logos ::-moz-selection {
    color: white;
    background-color: #c02574; }
  #master.lookingat_project.category-logos #top .cat_nav div:nth-child(3) p {
    display: block !important; }
  #master.lookingat_project.category-publication ::selection {
    color: white;
    background-color: #106873; }
  #master.lookingat_project.category-publication ::-moz-selection {
    color: white;
    background-color: #106873; }
  #master.lookingat_project.category-publication #top .cat_nav div:nth-child(4) p {
    display: block !important; }
  #master.lookingat_project.category-signage ::selection {
    color: white;
    background-color: #cbba3b; }
  #master.lookingat_project.category-signage ::-moz-selection {
    color: white;
    background-color: #cbba3b; }
  #master.lookingat_project.category-signage #top .cat_nav div:nth-child(5) p {
    display: block !important; }
  #master.lookingat_project.category-websites ::selection {
    color: black;
    background-color: #eccb24; }
  #master.lookingat_project.category-websites ::-moz-selection {
    color: black;
    background-color: #eccb24; }
  #master.lookingat_project.category-websites #top .cat_nav div:nth-child(6) p {
    display: block !important; }

.hiding {
  display: none; }

#top {
  height: 200px;
  position: absolute;
  width: 100%;
  z-index: 100; }
  #top .put {
    margin: auto;
    max-width: 1024px;
    height: 100%; }
    #top .put .logo, #top .put .alt_nav {
      position: absolute;
      width: 100%; }
    #top .put #logo {
      background-image: url(../img/logo.png);
      background-size: 135px auto;
      background-repeat: no-repeat;
      background-position: center center;
      height: 135px;
      width: 100%;
      left: 0px;
      cursor: pointer; }
    #top .put .alt_nav {
      bottom: 24px;
      right: 0; }
      #top .put .alt_nav p {
        text-align: center;
        font-size: 16px; }
        #top .put .alt_nav p span {
          cursor: pointer;
          margin: 0px 10px; }
    #top .put .cat_nav {
      position: absolute;
      width: 100%;
      height: 12px;
      bottom: 0px;
      left: 100%;
      opacity: 0; }
      #top .put .cat_nav div {
        width: 100%;
        height: 100%;
        position: relative;
        float: left;
        -webkit-transition: all 0.25 ease-in-out;
        -moz-transition: all 0.25 ease-in-out;
        -o-transition: all 0.25 ease-in-out;
        transition: all 0.25 ease-in-out;
        cursor: pointer;
        margin-bottom: 40px; }
        #top .put .cat_nav div p {
          position: absolute;
          bottom: -35px;
          width: 100%;
          text-align: center;
          font-family: stix;
          font-size: 16px; }
          @media screen and (min-width: 1024px) {
            #top .put .cat_nav div p {
              bottom: 5px; } }
        #top .put .cat_nav div:nth-child(1) {
          background-color: #0d7e8d;
          color: #0d7e8d; }
        #top .put .cat_nav div:nth-child(2) {
          background-color: #730b40;
          color: #730b40; }
        #top .put .cat_nav div:nth-child(3) {
          background-color: #c02574;
          color: #c02574; }
        #top .put .cat_nav div:nth-child(4) {
          background-color: #106873;
          color: #106873; }
        #top .put .cat_nav div:nth-child(5) {
          background-color: #cbba3b;
          color: #cbba3b; }
        #top .put .cat_nav div:nth-child(6) {
          background-color: #eccb24;
          color: #eccb24; }
        #top .put .cat_nav div:hover p {
          display: block !important; }

#carousel {
  width: 400%;
  height: 100%;
  position: absolute;
  left: 0px;
  padding-top: 200px;
  opacity: 0;
  overflow: hidden; }
  #carousel > div {
    width: 25%;
    position: relative;
    float: left; }
  #carousel #interest .about_img, #carousel #interest .about_text {
    position: relative; }
  #carousel #interest .about_img {
    margin: auto;
    display: block;
    width: 80%;
    height: auto; }
  #carousel #interest .about_text {
    white-space: pre-wrap;
    padding: 0 20%; }
  #carousel #interest p {
    text-align: center;
    margin-top: 60px; }
    #carousel #interest p a {
      color: black; }
  #carousel #interest .about_email a,
  #carousel #interest .about_phone a,
  #carousel #interest .about_cv a {
    border-bottom: dotted 1px black; }
  #carousel #front > div {
    height: 300px;
    width: 100%;
    position: relative;
    padding: 100px 0px;
    overflow: hidden; }
    #carousel #front > div .back {
      height: 150%;
      width: 100%;
      position: absolute;
      top: -25%;
      left: 0px;
      background-position: center center;
      background-size: cover; }
    #carousel #front > div .put {
      margin: auto;
      max-width: 1024px;
      height: 100%;
      position: relative; }
      #carousel #front > div .put p {
        position: absolute;
        left: 60%;
        padding: 10px 30px;
        font-size: 24px;
        cursor: pointer;
        color: white; }
        #carousel #front > div .put p:hover {
          background-color: white !important; }
        #carousel #front > div .put p span {
          font-family: stix; }
    #carousel #front > div .sec_color {
      height: 12px;
      width: 100%;
      position: absolute;
      top: 0px;
      z-index: 10; }
    #carousel #front > div#sec01 {
      z-index: 1; }
      #carousel #front > div#sec01 p {
        background-color: #0d7e8d; }
        #carousel #front > div#sec01 p:hover {
          color: #0d7e8d !important; }
      #carousel #front > div#sec01 .sec_color {
        background-color: #0d7e8d; }
    #carousel #front > div#sec02 {
      z-index: 2; }
      #carousel #front > div#sec02 p {
        background-color: #730b40; }
        #carousel #front > div#sec02 p:hover {
          color: #730b40 !important; }
      #carousel #front > div#sec02 .sec_color {
        background-color: #730b40; }
    #carousel #front > div#sec03 {
      z-index: 3; }
      #carousel #front > div#sec03 p {
        background-color: #c02574; }
        #carousel #front > div#sec03 p:hover {
          color: #c02574 !important; }
      #carousel #front > div#sec03 .sec_color {
        background-color: #c02574; }
    #carousel #front > div#sec04 {
      z-index: 4; }
      #carousel #front > div#sec04 p {
        background-color: #106873; }
        #carousel #front > div#sec04 p:hover {
          color: #106873 !important; }
      #carousel #front > div#sec04 .sec_color {
        background-color: #106873; }
    #carousel #front > div#sec05 {
      z-index: 5; }
      #carousel #front > div#sec05 p {
        background-color: #cbba3b; }
        #carousel #front > div#sec05 p:hover {
          color: #cbba3b !important; }
      #carousel #front > div#sec05 .sec_color {
        background-color: #cbba3b; }
    #carousel #front > div#sec06 {
      z-index: 6; }
      #carousel #front > div#sec06 p {
        background-color: #eccb24; }
        #carousel #front > div#sec06 p:hover {
          color: #eccb24 !important; }
      #carousel #front > div#sec06 .sec_color {
        background-color: #eccb24; }
    #carousel #front > div.here .sec_color {
      position: fixed;
      top: 188px; }
  #carousel #grid {
    padding-top: 290px; }
    #carousel #grid #grid_inside {
      padding: 0px 10px;
      position: relative;
      float: left;
      width: 100%; }
      #carousel #grid #grid_inside > div {
        position: relative;
        float: left;
        width: 100%;
        margin: 0px 0px 10px;
        cursor: pointer; }
        #carousel #grid #grid_inside > div > div {
          position: relative;
          float: left;
          height: 100%;
          width: 100%;
          background-position: center center;
          background-size: auto 270%; }
          #carousel #grid #grid_inside > div > div > div {
            position: absolute;
            height: 80%;
            width: 80%;
            top: 50%;
            left: 50%;
            margin: -40% 0px 0px -40%;
            background-color: black;
            border-radius: 100%;
            display: none; }
            #carousel #grid #grid_inside > div > div > div p {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              color: white;
              font-size: 16px;
              line-height: 18px; }
              #carousel #grid #grid_inside > div > div > div p span {
                font-family: stix; }
  #carousel #project {
    padding-top: 290px; }
    @media screen and (min-width: 768px) {
      #carousel #project {
        padding-top: 80px; } }
    @media screen and (min-width: 1024px) {
      #carousel #project {
        padding-top: 40px; } }
    #carousel #project .proj_img {
      position: relative;
      width: 66.666666%;
      margin: auto;
      overflow-x: hidden; }
      #carousel #project .proj_img:before {
        content: '';
        position: relative;
        padding-top: 65%;
        width: 100%;
        float: left; }
      #carousel #project .proj_img .proj_img_carousel {
        position: absolute;
        height: 100%;
        left: 0px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
        #carousel #project .proj_img .proj_img_carousel > div {
          position: relative;
          float: left;
          height: 100%;
          display: none; }
          #carousel #project .proj_img .proj_img_carousel > div > div {
            position: relative;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center; }
        @media screen and (max-width: 767px) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_mobile_1x {
            display: inline-block; } }
        @media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 767px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 767px) and (min-device-pixel-ratio: 2), only screen and (max-width: 767px) and (min-resolution: 192dpi), only screen and (max-width: 767px) and (min-resolution: 2dppx) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_mobile_1x {
            display: none !important; }
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_mobile_2x {
            display: inline-block; } }
        @media screen and (min-width: 768px) and (max-width: 1023px) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_tablet_1x {
            display: inline-block; } }
        @media only screen and (min-width: 768px) and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1023px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1023px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 768px) and (max-width: 1023px) and (min-device-pixel-ratio: 2), only screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 192dpi), only screen and (min-width: 768px) and (max-width: 1023px) and (min-resolution: 2dppx) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_tablet_1x {
            display: none !important; }
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_tablet_2x {
            display: inline-block; } }
        @media screen and (min-width: 1024px) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_desktop_1x {
            display: inline-block; } }
        @media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (min--moz-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-width: 1024px) and (min-device-pixel-ratio: 2), only screen and (min-width: 1024px) and (min-resolution: 192dpi), only screen and (min-width: 1024px) and (min-resolution: 2dppx) {
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_desktop_1x {
            display: none !important; }
          #carousel #project .proj_img .proj_img_carousel .proj_img_indiv_desktop_2x {
            display: inline-block; } }
    #carousel #project .proj_img_select {
      position: relative;
      height: 6px;
      width: 66.666666%;
      margin: 0px auto 75px; }
      #carousel #project .proj_img_select.proj_img_count_1 div {
        width: 100%; }
      #carousel #project .proj_img_select.proj_img_count_2 div {
        width: 50%; }
      #carousel #project .proj_img_select.proj_img_count_3 div {
        width: 33.33333%; }
      #carousel #project .proj_img_select.proj_img_count_4 div {
        width: 25%; }
      #carousel #project .proj_img_select.proj_img_count_5 div {
        width: 20%; }
      #carousel #project .proj_img_select.proj_img_count_6 div {
        width: 16.66667%; }
      #carousel #project .proj_img_select div {
        height: 100%;
        position: relative;
        float: left;
        -webkit-transition: all 0.25 ease-in-out;
        -moz-transition: all 0.25 ease-in-out;
        -o-transition: all 0.25 ease-in-out;
        transition: all 0.25 ease-in-out;
        cursor: pointer; }
        #carousel #project .proj_img_select div p {
          position: absolute;
          bottom: -35px;
          width: 100%;
          text-align: center;
          font-family: stix;
          font-size: 16px; }
        #carousel #project .proj_img_select div:nth-child(1) {
          background-color: #0d7e8d;
          color: #0d7e8d; }
        #carousel #project .proj_img_select div:nth-child(2) {
          background-color: #730b40;
          color: #730b40; }
        #carousel #project .proj_img_select div:nth-child(3) {
          background-color: #c02574;
          color: #c02574; }
        #carousel #project .proj_img_select div:nth-child(4) {
          background-color: #106873;
          color: #106873; }
        #carousel #project .proj_img_select div:nth-child(5) {
          background-color: #cbba3b;
          color: #cbba3b; }
        #carousel #project .proj_img_select div:nth-child(6) {
          background-color: #eccb24;
          color: #eccb24; }
        #carousel #project .proj_img_select div:hover, #carousel #project .proj_img_select div.selected {
          height: 15px; }
    #carousel #project p {
      text-align: center;
      padding: 0 20%; }
      @media screen and (min-width: 768px) {
        #carousel #project p {
          padding: 0 28%; } }
    #carousel #project .client, #carousel #project .contribution {
      font-family: stix;
      font-size: 16px;
      margin-bottom: 6px; }
      .category-my_proj #carousel #project .client, .category-my_proj #carousel #project .contribution {
        color: #0d7e8d; }
      .category-posters #carousel #project .client, .category-posters #carousel #project .contribution {
        color: #730b40; }
      .category-logos #carousel #project .client, .category-logos #carousel #project .contribution {
        color: #c02574; }
      .category-publication #carousel #project .client, .category-publication #carousel #project .contribution {
        color: #106873; }
      .category-signage #carousel #project .client, .category-signage #carousel #project .contribution {
        color: #cbba3b; }
      .category-websites #carousel #project .client, .category-websites #carousel #project .contribution {
        color: #eccb24; }
    #carousel #project .name {
      font-size: 22px;
      margin-bottom: 15px; }
    #carousel #project .contribution {
      margin-bottom: 100px; }
    #carousel #project .foot {
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%; }
      #carousel #project .foot p {
        margin: 0 auto;
        max-width: 1024px;
        padding: 10px;
        text-align: right;
        font-size: 14px;
        color: gray; }

@media screen and (min-width: 768px) {
  #top {
    height: 200px;
    width: 100%;
    z-index: 100; }
    #top .put #logo {
      background-image: url(../img/logo.png);
      background-size: 135px 135px;
      background-repeat: no-repeat;
      height: 135px;
      width: 210px;
      left: 20px;
      top: 20px;
      position: relative; }
    #top .put .alt_nav {
      width: auto;
      right: 20px;
      bottom: 50px; }
      #top .put .alt_nav p {
        text-align: left; }
    #top .put .cat_nav div {
      position: absolute;
      width: 33.33333%;
      margin-bottom: 0px; }
      #top .put .cat_nav div:nth-child(1) {
        top: 0px;
        left: 0px; }
      #top .put .cat_nav div:nth-child(2) {
        top: 0px;
        left: 33.333333%; }
      #top .put .cat_nav div:nth-child(3) {
        top: 0px;
        left: 66.666666%; }
      #top .put .cat_nav div:nth-child(4) {
        top: 50px;
        left: 0px; }
      #top .put .cat_nav div:nth-child(5) {
        top: 50px;
        left: 33.333333%; }
      #top .put .cat_nav div:nth-child(6) {
        top: 50px;
        left: 66.666666%; }
      #top .put .cat_nav div p {
        display: none; }

  #carousel #front > div {
    height: 600px;
    padding: 200px 0; }
  #carousel #grid {
    padding-top: 80px; }
    #carousel #grid #grid_inside {
      padding: 0px 10px; }
      #carousel #grid #grid_inside > div {
        position: relative;
        float: left;
        width: 33.33333%;
        margin: 0px;
        padding: 10px;
        cursor: pointer; }
        #carousel #grid #grid_inside > div > div > div {
          position: absolute;
          height: 80%;
          width: 80%;
          top: 50%;
          left: 50%;
          margin: -40% 0px 0px -40%;
          background-color: black;
          border-radius: 100%;
          display: none; }
          #carousel #grid #grid_inside > div > div > div p {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: white;
            font-size: 16px;
            line-height: 18px; }
            #carousel #grid #grid_inside > div > div > div p span {
              font-family: stix; } }
@media screen and (min-width: 1024px) {
  #top {
    height: 200px;
    position: fixed;
    width: 100%;
    z-index: 100; }
    #top .put {
      max-width: 66.666666%; }
      #top .put #logo {
        background-image: url(../img/logo.png);
        background-size: 135px 135px;
        background-repeat: no-repeat;
        height: 135px;
        width: 135px;
        left: 0;
        top: 10px;
        position: relative; }
      #top .put .alt_nav {
        right: 16.66667%; }
      #top .put .cat_nav {
        left: 50%; }
        #top .put .cat_nav div {
          width: 16.66667%;
          position: relative;
          top: inherit !important;
          left: inherit !important; }

  #carousel {
    overflow: initial;
    padding-top: 200px; }
    #carousel #grid {
      padding-top: 40px; }
      #carousel #grid #grid_inside {
        padding: 0px 16.66667%; }
        #carousel #grid #grid_inside > div {
          position: relative;
          float: left;
          width: 25%;
          cursor: pointer; }
          #carousel #grid #grid_inside > div:hover div > div {
            display: table; }
    #carousel > div {
      height: 100%;
      overflow: scroll; } }
@-moz-document url-prefix() {}
