#carousel{
	overflow:initial;
	padding-top:200px;

	// .lookingat_front &{
	// 	padding-top: 200px;
	// } 

	@import "front";
	@import "grid";
	@import "project";

	&>div{
		height:100%;
		overflow:scroll;
	}
}