#top{
	height:$distancefromtop;
	position:fixed;
	width:100%;
	z-index:100;
	.put{
		max-width:66.666666%;
		#logo{
			background-image:url(../img/logo.png);
			background-size:210px 145px;
			background-repeat: no-repeat;
			height:145px;
			width:210px;
			left:0;
			top:10px;
			position: relative;
		}
		.alt_nav{
			right: 16.66667%;
		}
		.cat_nav{
			left:50%;
			div{
				width:16.66667%;
				position:relative;
				top:inherit !important;
				left:inherit !important;
			}
		}
	}
}