/*
looking for these? :)

border-radius: 9px;

<?php include("inc/head.html"); ?>
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: georgia; }

a img {
  border: none; }

a {
  border: none;
  text-decoration: none; }

::selection {
  /*background: #;*/ }

::-moz-selection {
  /*background: #;*/ }

.master {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  font-family: helvetica, arial, sans-serif;
  color: #444;
  line-height: 18px;
  font-size: 14px; }

.put {
  margin: auto;
  width: 1024px;
  height: 100%;
  position: relative; }

.selected {
  background-color: #444;
  color: white; }

.head, .body {
  position: relative;
  float: left; }

.head {
  width: 100%;
  height: 50px;
  border-bottom: 1px #ccc solid; }
  .head div {
    position: relative;
    float: left;
    margin: 0px;
    display: table;
    width: 50%;
    height: 100%; }
    .head div p {
      display: table-cell;
      vertical-align: middle; }
  .head #title {
    padding: 0px 20px; }
  .head #save {
    padding: 0px 10px;
    cursor: pointer;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
    .head #save.saved {
      background-color: #00cd32; }

.body {
  width: 100%; }
  .body .category, .body .project, .body .detail {
    position: relative;
    height: 100%;
    float: left;
    overflow: scroll; }
  .body .hiding {
    display: none !important; }
  .body .category, .body .project {
    width: 25%;
    border-right: 1px #ccc solid; }
    .body .category > div, .body .project > div {
      position: relative;
      float: left;
      width: 100%;
      height: 50px;
      display: table;
      padding: 0px 20px;
      cursor: pointer; }
      .body .category > div p, .body .project > div p {
        margin: auto;
        display: table-cell;
        vertical-align: middle; }
      .body .category > div .cv, .body .category > div .coverimg, .body .project > div .cv, .body .project > div .coverimg {
        position: absolute;
        height: 30px;
        width: 30px;
        top: 10px;
        background-position: center center;
        background-size: cover; }
      .body .category > div .cv, .body .project > div .cv {
        right: 50px;
        background-image: url(../img/cv.png); }
      .body .category > div .coverimg, .body .project > div .coverimg {
        right: 10px;
        background-image: url(../img/cover.png); }
  .body .project div .proj_kill {
    position: absolute;
    height: 25px;
    width: 25px;
    right: 15px;
    top: 12.5px;
    display: none; }
  .body .project div:hover .proj_kill {
    display: block; }
  .body .detail, .body .other {
    width: 50%;
    padding: 0px 5px;
    position: relative;
    float: left;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
    .body .detail p, .body .other p {
      padding: 0px 10px;
      margin: 0px;
      font-size: 11px;
      width: 100%;
      float: left; }
    .body .detail .promoter, .body .other .promoter {
      position: relative;
      float: left;
      height: 26px;
      width: 150px;
      border: 1px #ccc solid;
      margin: 5px;
      cursor: pointer; }
      .body .detail .promoter.promoted, .body .other .promoter.promoted {
        background-color: #ccc; }
    .body .detail input, .body .detail textarea, .body .detail > div, .body .other input, .body .other textarea, .body .other > div {
      position: relative;
      float: left;
      width: 100%;
      margin: 5px 5px 15px 5px;
      padding: 5px;
      border-top: 1px #ccc solid;
      border-right: none;
      border-bottom: none;
      border-left: 1px #ccc solid;
      font-size: 14px; }
      .body .detail input:focus, .body .detail textarea:focus, .body .detail > div:focus, .body .other input:focus, .body .other textarea:focus, .body .other > div:focus {
        outline: none !important; }
    .body .detail textarea, .body .other textarea {
      resize: vertical;
      height: 5em; }
    .body .detail > div, .body .other > div {
      min-height: 200px; }
      .body .detail > div div, .body .other > div div {
        position: relative;
        float: left;
        width: 200px;
        height: 200px;
        overflow: hidden;
        margin: 0px 5px 5px 0px;
        background-size: cover; }
        .body .detail > div div .img_kill, .body .detail > div div .file_kill, .body .detail > div div .img_tile, .body .other > div div .img_kill, .body .other > div div .file_kill, .body .other > div div .img_tile {
          position: absolute;
          width: 50px;
          height: 50px;
          z-index: 1000;
          display: none;
          cursor: pointer; }
        .body .detail > div div .img_kill, .body .detail > div div .file_kill, .body .other > div div .img_kill, .body .other > div div .file_kill {
          top: 0px;
          left: 0px; }
        .body .detail > div div .img_tile, .body .other > div div .img_tile {
          bottom: 0px;
          right: 0px;
          opacity: .5; }
          .body .detail > div div .img_tile.yeahthistile1, .body .other > div div .img_tile.yeahthistile1 {
            opacity: 1;
            display: block; }
        .body .detail > div div:hover .img_kill, .body .detail > div div:hover .file_kill, .body .detail > div div:hover .img_tile, .body .other > div div:hover .img_kill, .body .other > div div:hover .file_kill, .body .other > div div:hover .img_tile {
          display: block; }
    .body .detail.active, .body .other.active {
      opacity: 1; }
  .body .other {
    position: absolute;
    width: 75%;
    right: 0px;
    background-color: white; }
    .body .other .her, .body .other .cover {
      border: 0px;
      margin: 0px;
      padding: 0px; }
    .body .other .cover #drop {
      border: 1px #ccc solid;
      margin-left: 5px; }
      .body .other .cover #drop p {
        font-size: 80px;
        position: absolute;
        text-align: center;
        margin: 80px 0px !important; }
    .body .other .cover div {
      display: table; }
      .body .other .cover div p {
        display: table-cell;
        vertical-align: middle;
        float: none; }

@-moz-document url-prefix() {}
