::selection {
	/*background: #;*/
}

::-moz-selection {
	/*background: #;*/
}

* { 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box; 
}

body{
	margin:0px;
	background-image:url(../img/texturetastic_gray.png);
}

.master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	overflow-x:hidden;
}

#carousel{
	width:300%;
	height:100%;
	position:absolute;
	left:0px;
	padding-top:125px;
	opacity:0;
	&.ready{
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
		opacity:1;
	}
	&>div{
		height:100%;
		width:33.33333333%;
		@include prfl;
		overflow:scroll;
	}

	&.lookingat_front{left:0px;}
	&.lookingat_grid{left:-100%;}
	&.lookingat_project{left:-200%;}
}

.hiding{display:none;}