// COLOUR
$thelightgreen: rgb(13, 126, 141);
$thedarkgreen: rgb(16, 104, 115);

$thelightmagenta: rgb(192, 37, 116);
$thedarkmagenta: rgb(115, 11, 64);

$thelightyellow: rgb(236, 203, 36);
$thedarkyellow: rgb(203, 186, 59);

//lightgre
//darkmag
//lightmag
//darkgre
//darkyell
//lightyell

// $thelightgreen
// $thedarkmagenta
// $thelightmagenta
// $thedarkgreen
// $thedarkyellow
// $thelightyellow

// DEFINITIONS

$masterwidth: 1024px;
$distancefromtop: 200px;

@mixin prfl{
	position:relative;
	float:left;
}

@mixin transition($time){
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}


