{{#contact}}

<p class="about_email"><a href="mailto:{{email}}">{{email}}</a></p>
<p class="about_phone"><a href="tel:{{phone}}">{{phone}}</a></p>
<p class="about_cv"><a href="{{cv}}" target="_blank">{{cv}}</a></p>

{{/contact}}