body{
	margin:0px;
	background-image:url(../img/texturetastic_gray.png);
}

#master{
	position:absolute;
	height:100%;
	width:100%;
	top:0px;
	left:0px;
	overflow-x:hidden;

	&.ready{
		#top .cat_nav, #carousel, #interest{
			@include transition(1s);
			opacity:1;
		}
	}

	&.lookingat_interest{
		#carousel{ left:0px; }
	}

	&.lookingat_front{
		
		#carousel{left:-100%;}
	}

	&.lookingat_grid{
		#carousel{left:-200%;}
		#top .cat_nav{ left:0px; }
	}

	&.lookingat_project{
		#carousel{left:-300%;}
		#top .cat_nav{
			left:0px;
			// div p{display:none;}
		}

		&.category-my_proj{ @include select( white, $thelightgreen); 
			#top .cat_nav div:nth-child(1) p{display:block !important;}}
		&.category-posters{ @include select( white, $thedarkmagenta); 
			#top .cat_nav div:nth-child(2) p{display:block !important;}}
		&.category-logos{ @include select( white, $thelightmagenta); 
			#top .cat_nav div:nth-child(3) p{display:block !important;}}
		&.category-publication{ @include select( white, $thedarkgreen); 
			#top .cat_nav div:nth-child(4) p{display:block !important;}}
		&.category-signage{ @include select( white, $thedarkyellow); 
			#top .cat_nav div:nth-child(5) p{display:block !important;}}
		&.category-websites{ @include select( black, $thelightyellow); 
			#top .cat_nav div:nth-child(6) p{display:block !important;}}
	}
}

.hiding{display:none;}

@import "top";

@import "carousel";

.bottom{

}