#carousel{
	width:400%;
	height:100%;
	position:absolute;
	left:0px;
	padding-top:200px;
	opacity:0;
	overflow:hidden;
	&>div{
		// height:100%;
		width:25%;
		@include prfl;
	}

	@import "interest";
	@import "front";
	@import "grid";
	@import "project";
}