#front{
	&>div{
		height:300px;
		width:100%;
		position: relative;
		padding:100px 0px;
		overflow:hidden;
		.back{
			height:150%;
			width:100%;
			position:absolute;
			top:-25%;
			left:0px;
			background-position:center center;
			background-size:cover;
		}
		.put{
			margin:auto;
			max-width:$masterwidth; 
			height:100%;
			position:relative;
			p{
				position:absolute;
				left:60%;
				padding:10px 30px;
				font-size:24px;
				cursor: pointer;
				color:white;

				&:hover{
					background-color: white !important;
				}

				span{
					@include stix;
				}
			}
		}
		.sec_color{
			height:12px;
			width:100%;
			position:absolute;
			top:0px;
			z-index:10;
		}
		&#sec01{
			z-index:1; 
			p{
				background-color:$thelightgreen;
				&:hover{ color: $thelightgreen !important;}
			}
			.sec_color{background-color:$thelightgreen;}
		}
		&#sec02{
			z-index:2; 
			p{
				background-color:$thedarkmagenta;
				&:hover{ color: $thedarkmagenta !important;}
			}
			.sec_color{background-color:$thedarkmagenta;}
		}
		&#sec03{
			z-index:3; 
			p{
				background-color:$thelightmagenta;
				&:hover{ color: $thelightmagenta !important;}
			}
			.sec_color{background-color:$thelightmagenta;}
		}
		&#sec04{
			z-index:4; 
			p{
				background-color:$thedarkgreen;
				&:hover{ color: $thedarkgreen !important;}
			}
			.sec_color{background-color:$thedarkgreen;}
		}
		&#sec05{
			z-index:5; 
			p{
				background-color:$thedarkyellow;
				&:hover{ color: $thedarkyellow !important;}
			}
			.sec_color{background-color:$thedarkyellow;}
		}
		&#sec06{
			z-index:6; 
			p{
				background-color:$thelightyellow;
				&:hover{ color: $thelightyellow !important;}
			}
			.sec_color{background-color:$thelightyellow;}
		}

		&.here .sec_color{
			position:fixed;
			top:$distancefromtop - 12;
		}
	}	
}